# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Database
*.db
*.sqlite3

# Local Environment Variables
.env
.env.*
!.env.example

# Pytest cache
.pytest_cache/
.coverage
htmlcov/
